<%= form_for(@tank) do |f| %>
  <% if @tank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tank.errors.count, "error") %> prohibited this tank from being saved:</h2>

      <ul>
      <% @tank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @filling %>
    <div class="field">
      <%= f.label :filled %><br>
      <%= f.number_field :filled %>
    </div>
    <div class="field">
      <%= f.label :gasoline_id %><br>
      <%= f.text_field :gasoline_id %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :number %><br>
      <%= f.number_field :number %>
    </div>
    <div class="field">
      <%= f.label :volume %><br>
      <%= f.text_field :volume %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
