<%= form_for(@tank, url: fill_tank_path) do |f| %>
  <% if @tank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tank.errors.count, "error") %> prohibited this tank from being saved:</h2>

      <ul>
      <% @tank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Filled <%= @tank.filled %> out of <%= @tank.max_liters %> liters</p>
  <div class="field">
    <%= f.label "Add fuel" %> (<%= @tank.empty_space %> liters max)<br>
    <%= f.number_field :filled, value: 0 %>
  </div>
  <div class="field">
    <%= f.label :gasoline_id %><br>
    <%= f.select :gasoline_id, @gasolines %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
