<p id="notice"><%= notice %></p>

<h1>Listing Tanks</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Volume, m3</th>
      <th>Filled, %</th>
      <th>Gasoline</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tanks.each do |tank| %>
      <tr>
        <td><%= tank.number %></td>
        <td><%= tank.volume %></td>
        <td><%= (tank.filled / tank.max_liters * 100).round(1) %></td>
        <td><%= !tank.gasoline.nil? ? tank.gasoline.name : '-' %></td>
        <td><%= link_to 'Show', tank %></td>
        <td><%= link_to 'Edit', edit_tank_path(tank) %></td>
        <td><%= link_to 'Fill', add_gas_tank_path(tank) %></td>
        <td><%= link_to 'Destroy', tank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tank', new_tank_path %>
