<h2>Gas "<%= @gasoline.name %>"</h2>

<p>
  <strong>Class:</strong>
  <%= @gasoline.grade %>
</p>

<p>
  <strong>Price:</strong>
  <%= @gasoline.price %> UAH
</p>

<p>
  <strong>Amount:</strong>
  <%= @gasoline.amount %> liters
</p>

<p>
  <strong>Tanks:</strong>
  No. <%= @gasoline.tanks.map { |tank| tank.number }.join(', ') %>
</p>

<%= link_to 'Edit', edit_gasoline_path(@gasoline) %> |
<%= link_to 'Back', gasolines_path %>
