<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gasoline.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @gasoline.grade %>
</p>

<p>
  <strong>Price:</strong>
  <%= @gasoline.price %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @gasoline.amount %>
</p>

<%= link_to 'Edit', edit_gasoline_path(@gasoline) %> |
<%= link_to 'Back', gasolines_path %>
